#app_con {
    background-color: #fff;
    /* width: 100%; */
    height: 100%;
}

/* 替换样式 */
.el-page-header__content {
    font-size: 14px;
    color: #303133;
}

.tox-statusbar__help-text{
    display: none;
}
.tox-statusbar__branding{
    display: none;
}
.tox-promotion{
    display: none;
}

tip{
    color: rgb(96, 98, 102);
    font-size: 13px;
}