<link rel="stylesheet" href="/admin/lib/element-ui2.15.14/lib/theme-chalk/index.css">
<link rel="stylesheet" href="/admin/css/yn_con.css?123">

<script src="/admin/lib/vue/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="/admin/lib/jquery-3.4.1/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/admin/lib/element-ui2.15.14/lib/index.js" type="text/javascript" charset="utf-8"></script>
<script src="/admin/lib/axios/dist/axios.js"></script>
<script src="/admin/lib/tinymce/tinymce.min.js"></script>
		